/* здесь подключите шрифты */
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/pt-sans-narrow.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/pt-sans-narrow-bold.woff2") format("woff2");
}
