/* здесь используйте глобальные переменные */
// Colors
$darkgrey: #292929;
$lightgrey: #f8f5f2;
$special-neutral: #826550;

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
