/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-title.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/works.scss";
@import "./blocks/works-item.scss";
