@use "sass:color";

.button {
  display: block;
  padding: 13px 29px 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #e5ddd5;

  &:hover {
    text-decoration: none;
    border-color: #d5c9bd;
  }

  &:active {
    color: color.adjust(#000000, $alpha: +0.3);
    text-decoration: none;
    background-color: #d5c9bd;
    border-color: #d5c9bd;
  }

  &:focus {
    text-decoration: none;
  }
}
