.works-item {
  color: #000000;
  height: 100%;
}

.works-item--work-of-month {
  position: relative;
}

.works-item--work-of-month::before {
  content: "Работа месяца";
  position: absolute;
  top: 401px;
  left: 20px;
  z-index: 2;
  width: 140px;
  padding: 15px 11px 15px 16px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
}

.works-item--work-of-month::after {
  content: "";
  position: absolute;
  top: 401px;
  left: 180px;
  z-index: 2;
  width: 16px;
  height: 50px;
  background-image:
    linear-gradient(to top left, transparent 50%, #826550 50%),
    linear-gradient(to top right, #826550 50%, transparent 50%);
}

.works-item__image-wrapper {
  position: relative;
  height: 176px;
  margin: 0;
  line-height: 0;
  text-align: center;
  overflow: hidden;
}

.works-item--work-of-month .works-item__image-wrapper {
  height: 480px;
}

.works-item__image {
  width: 100%;
}

.works-item__review {
  padding: 19px 21px 0;
  border: 1px solid #e5ddd5;
  border-top: none;
}

.works-item__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.works-item__text {
  margin: 0 0 16px;
}

.works-item__parameter-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0 0;
  padding: 0;
  list-style: none;
}

.works-item__parameter-item {
  position: relative;
  width: auto;
  margin-bottom: 15px;
  margin-right: 30px;
  padding-left: 36px;
  font-size: 16px;
  text-transform: uppercase;
}

.works-item__parameter-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translate(-30%, -50%);
}

.works-item__parameter-item--haircut::before {
  background-image: url("../../icons/scissors-icon.svg");
}

.works-item__parameter-item--shaving::before {
  background-image: url("../../icons/beard-icon.svg");
}

.works-item__parameter-item--mustache::before {
  background-image: url("../../icons/mustache-icon.svg");
}

.works-item__parameter-item:last-child {
  margin-right: 0;
}

@media (min-width: $tablet-width) {
  .works-item {
    display: flex;
    align-items: stretch;
  }

  .works-item--work-of-month::before {
    top: 35px;
    bottom: auto;
    left: 0;
  }

  .works-item--work-of-month::after {
    top: 35px;
    bottom: auto;
    left: 160px;
  }

  .works-item__image-wrapper,
  .works-item--work-of-month .works-item__image-wrapper {
    height: auto;
  }

  .works-item__image-wrapper {
    position: relative;
    width: 270px;
  }

  .works-item__image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: 1px solid #e5ddd5;
    border-top: none;
    border-right: none;
  }

  .works-item__img {
    position: relative;
    z-index: 1;
  }

  .works-item__review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 370px);
    padding: 43px 50px 20px;
    border-top: 1px solid #e5ddd5;
    border-left: none;
  }

  .works-item__title {
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .works-item--work-of-month::before {
    inset: 26px 0 auto auto;
  }

  .works-item--work-of-month::after {
    inset: 26px 160px auto auto;
    background-image:
      linear-gradient(to top left, #826550 50%, transparent 50%),
      linear-gradient(to top right, transparent 50%, #826550 50%);
  }

  .works-item {
    flex-direction: column;
    width: 295px;
  }

  .works-item__image-wrapper {
    width: auto;
  }

  .works-item__review {
    flex-grow: 1;
    width: auto;
  }

  .works-item .works-item__review {
    padding: 30px 35px 10px;
    border-top: none;
    border-left: 1px solid #e5ddd5;
  }

  .works-item__text {
    margin-bottom: 25px;
  }

  .works-item--work-of-month .works-item__text {
    padding-right: 85px;
  }

  .works-item__parameter-item {
    width: auto;
    margin-right: 35px;
    margin-bottom: 21px;
  }

  .works-item--lead {
    flex-direction: row;
    width: auto;
  }

  .works-item--lead .works-item__image-wrapper {
    width: 480px;
  }

  .works-item--lead .works-item__review {
    width: 396px;
    padding: 128px 42px 12px;
    border-top: 1px solid #e5ddd5;
    border-left: none;
  }

  .works-item--lead .works-item__parameter-item {
    margin-bottom: 15px;
  }
}
