.works {
  position: relative;
  padding-bottom: 14px;
}

.works::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -34px;
  z-index: 10;
  width: 100%;
  height: 34px;
  background-image:
    linear-gradient(to top right, transparent 50%, $lightgrey 50%),
    linear-gradient(to top left, transparent 50%, $lightgrey 50%);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 50.1% 100%;
}

@media (min-width: $tablet-width) {
  .works {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .works {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 47px;
  }

  .works::after {
    display: none;
  }
}

/* List */

.works__list {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .works__list {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .works__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 39px;
  }
}

/* Photo */
.works__photo {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .works__photo {
    margin-bottom: 41px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .works__photo {
    margin-bottom: 0;
  }

  .works__photo:first-child {
    grid-column: 1 / -1;
  }
}
